*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #eee;
}

.container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  & .table-tabs {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    & .tab {
      margin: 5px 10px;
      padding: 5px;
      cursor: pointer;
      border-radius: 3px;
    }
  }
  & .table-content {
    margin-bottom: 10px;
    table {
      width: 500px;
    }
  }
}

.tab.active {
  background-color: #eee;
}

.search-input {
  margin: 10px 0 5px 30px;
  width: 300px;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px;
}

.table {
  display: none;
  border-collapse: collapse;
  margin-left: 30px;
}
.table.active {
  display: table;
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 5px;
}

td:nth-child(odd) {
  text-align: left;
}
td:nth-child(even) {
  text-align: right;
}
