*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #eee;
}

.container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  & .table-tabs {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    & .tab {
      margin: 0 10px;
      padding: 5px;
      cursor: pointer;
    }
  }
  & .table-content {
    table {
      width: 100%;
    }
  }
}

.tab.active {
  background-color: red;
}

.table {
  display: none;
  border-collapse: collapse;
}
.table.active {
  display: table;
}

tr {
  border-bottom: 1px solid #eee;
}
